/* .slick-slider {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .slick-slide {
    margin: 0 10px;
    text-align: center;
  }
  
  .slick-slide img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  .slick-slide h3 {
    background-color: #fff;
    color: #333;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }
   */