.box {
  height: 100vh;
  widows: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event-title {
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
}

.event-img {
  border-radius: 10px;
}

.even-img:hover {
  transform: scale(1.1);
}

.event-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #E4F5EB;
  box-shadow: 0px 1px 30px rgba(116, 124, 153, 0.74);
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 400px;
  height: auto;
  margin: 15px;
  text-align: center;
  cursor: pointer;
}

.title {
  font-style: italic;
}


